$accentColor = #1ba1ff
$textColor = #2c3e50
$borderColor = #eee
$codeBgColor = #ddf1ff

header-bgcolor = #fff
header-color = #2c3e50
font-size = 16px
base-font = font-size "Avenir", Arial

html
  overflow-y scroll

*
  font base-font, sans-serif
  line-height 2

.home .hero .description
  color: $textColor

.search-box
  display none

.navbar
  background-color header-bgcolor
  color header-color

.navbar .site-name
  color header-color

.nav-links a.router-link-active
  color header-color
  font-size 18px

ol.publications li
  position relative
  margin-bottom 18px

ol.publications dl dt
  margin-bottom 8px
  padding-bottom 8px
  font-size 16px
  border-bottom 1px dotted #eee

ol.publications dl dt b
  font-weight bold

ol.publications dl dd
  margin-left 0
  color: #888
  font-size 14px

ol.publications dl dd a,
ol.publications dl dd em
  display inline-block
  line-height 1.2
  margin-left 8px
  padding 0 8px
  color white
  opacity 0.25
  border-radius 4px

ol.publications dl dd a
  background $accentColor

ol.publications dl dd a:hover
  opacity 0.5

ol.publications dl dd em
  padding 2px 8px
  font-size 14px
  background $textColor

ul.members
  float left
  margin-bottom 24px

ul.members li,
ul.software li
  float left
  margin-bottom 24px
  list-style none
  clear both

ul.members dl dt
  float left
  width 100px
  height 100px
  background-color $accentColor
  border-radius 50px
  overflow hidden

ul.software dl dt
  float left
  width 100px
  height 100px
  overflow hidden

ul.members dl dt img,
ul.software dl dt img
  width 100px

ul.members dl dd,
ul.software dl dd
  float left
  width calc(100% - 120px)
  margin-left 20px

ul.members dl dd p,
ul.software dl dd p
  border-bottom 1px dotted #eee
  margin-bottom 12px
  padding-bottom 12px

ul.members dl dd span
  display inline
  color #888
  line-height 1.2
